TWILIO_ACCOUNT_SID=AC82c177dd96eb6bdffdc1934b9ccc3f64
TWILIO_AUTH_TOKEN=de37dec9be6bc5ba024122e34edc89e5
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json
SHEET_URL=https://docs.google.com/spreadsheets/d/1wS4Gv-V_84zQFPxRLP38wnhncbIaO0EpPb7BuYphtsw/edit

